<div>
  <link href="./gallery-baleg.css" rel="stylesheet" />
  <div class="gallery baleg-container">
    <a href="https://icedrama.page.link/samplelink" class="gallery baleg-link">
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="gallery baleg-image"
      />
    </a>
    <a href="https://icedrama.page.link/samplelink" class="gallery baleg-link1">
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="gallery baleg-image1"
      />
    </a>
    <a href="https://icedrama.page.link/samplelink" class="gallery baleg-link2">
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="gallery baleg-image2"
      />
    </a>
    <a href="https://icedrama.page.link/samplelink" class="gallery baleg-link3">
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="gallery baleg-image3"
      />
    </a>
  </div>
</div>
