<div>
  <link href="./post-card4x1.css" rel="stylesheet" />
  <div class="post card 4 x 1-container">
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      class="post card 4 x 1-image"
    />
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      class="post card 4 x 1-image1"
    />
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      class="post card 4 x 1-image2"
    />
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      class="post card 4 x 1-image3"
    />
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      class="post card 4 x 1-image4"
    />
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      class="post card 4 x 1-image5"
    />
  </div>
</div>
